.Fira-sans {
    font-family: Fira Sans;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* common styles */
.webpage-style {
    background: rgb(245, 245, 245);
}

.common-width {
    max-width: 1280px;
    margin: 0 auto;
}

.section-gap {
    margin-bottom: 80px;
    margin-top: 80px;
}

.left-text {
    text-align: left;
}

body button:hover {
    cursor: pointer;
}

.common-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.common-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;

}

.common-button {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding: 13px 26px 13px 26px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: none;
}

/* nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
    padding: 24px 160px 24px 160px;
}

.nav-title {
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

.sign-in-button {
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 15px 30px 15px 30px;

}

/* banner styles */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 560px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}

.banner-content {
    max-width: 680px;
}

.banner-subtitle {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin: 117px 0px 16px 60px;

}

.banner-title {
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0px 10px 24px 60px;
}

.banner-button {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    margin: 14px 0px 117px 60px;
    padding: 17px 34px 17px 34px;

}

.banner-image {
    margin: 80px 60px 80px 0px;
}

/* pillars Style */
.pillars-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    gap: 12px;

}

.pillars-area-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 32px;

}

.pillars {
    width: 302px;
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    gap: 12px;
}

.pillar-background {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

/* vision area styles */
.vision-area-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.area {
    width: 410.67px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px;
    margin: 0px 5px;

}

.first-vision-color {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
}

.second-vision-color {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
}

.third-vision-color {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
}


.vision-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    margin-bottom: 0px;

}

.vision-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}

.vision-image {
    margin: 10px 0px 0px 0px;
}

.area-title {
    margin-bottom: 0px;
}

.area-description {
    margin-bottom: 24px;
    margin-top: 0px;
}


.area-button1 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    padding: 11px 20px 11px 20px;
    border: none;

}

.area-button2 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    padding: 11px 20px 11px 20px;
    border: none;
}

.area-button3 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    padding: 11px 20px 11px 20px;
    border: none;
}

/* quote section styles */
.quote-section {
    width: 1280px;
    border: 1px Inside rgba(14, 14, 14, 0.15);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    margin-top: 32px;
    padding: 48px 24px 48px 24px;
    background: rgb(255, 255, 255);

}

.quotes {
    margin: 10px 18px 12px 20px;
}

.name {
    margin: 5px 0px 0px 20px;
}

.pera-container {
    background: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.quote-description {
    margin: 0px 0px 0px 20px;

}

/* news area styles */
.date-time {
    display: flex;
    gap: 12px;
    align-items: center;
}

.news-description {
    margin-bottom: 32px;
}

.news-container {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 32px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    padding: 48px;
}

.news-area-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    margin: 12px 0px;

}

.news-image {
    border-radius: 24px;
}

.news-area-description {
    margin-top: 0px;
}

.news-button {
    margin: 15px 0px;
}

.news-container {
    margin-bottom: 32px;
}

/* donate section styles */
.donate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donate-section-description {
    text-align: center;
}

.donate-amount-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;

}

.donate-1st-amount {
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
}

.donate-1st-amount:hover {
    background-color: rgba(84, 144, 245, 0.2);
    cursor: pointer;
}

.donate-3rd-amount:hover {
    background-color: rgba(84, 144, 245, 0.2);
    cursor: pointer;
}

.donate-4th-amount:hover {
    background-color: rgba(84, 144, 245, 0.2);
    cursor: pointer;
}

.donate-2nd-amount {
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 40px;
}

.donate-3rd-amount {
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
}

.donate-4th-amount {
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
}

.other-amount {
    width: 1032px;
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    padding: 20px 40px 20px 40px;
    border: none;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
}

.donate-now {
    padding: 17px 34px 17px 34px;
    margin: 32px 0px;
}

/* subscription section styles */
.subscribe {
    width: 1280px;
    height: 395px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}

.subscription-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.subscribe-section-title {
    margin-top: 80px;
    margin-bottom: 0px;
}

.subscribe-section-description {
    margin: 0px 300px 20px 300px;
    text-align: center;
}

.subscribe-section-container {
    display: flex;
    margin-top: 0px;

}

.subscribe-email {
    width: 600px;
    height: 30px;
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    padding: 18px 40px 18px 40px;
    border: none;
}

.subscribe-button {
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    padding: 17px 34px 17px 34px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
}

.slogan {
    margin-top: 0px;
}

/* footer styles */
.news-area-title {
    text-align: center;
}

.footer-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 32px 0px;
}

footer hr {
    width: 1122px;
    margin-top: 32px;

}